{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid" style="background-color: #FFC107;width: 100%; height: 100%;">

        <div class="wrapper" style="padding: 2% 30% 10% 30%;" >
            <div class="row">
                <div class="span12">
                    <div class="" style="">
                        <img src="{{ asset('assets/images/mokka.jpg') }}" class="img-rounded" alt="Opel promo" width="100%" height="">
                    </div>

                </div>
            </div>
            <div id="phoneWarning" style="display:none;" class="alert alert-danger" role="alert">
                <strong>Lo sentimos</strong>, el número de teléfono debe comenzar por 6,7 o 9 y tener 9 dígitos.
            </div>
            <div id="preferenceWarning" style="display:none;" class="alert alert-danger" role="alert">
                <strong>Lo sentimos</strong>, es necesario seleccionar una preferencia.
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel" style="background-color:grey ;padding:10px; margin-top:10px;">

                        <form method="post" action="{{ path('save-message') }}" role="form" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">

                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.phone) }}
                                        {{ form_widget(form.phone) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.typeVehicle) }}
                                        {{ form_widget(form.typeVehicle) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.preference) }}
                                        {{ form_widget(form.preference) }}

                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        {{ form_label(form.surname) }}
                                        {{ form_widget(form.surname) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email) }}

                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.vehicle) }}
                                        {{ form_widget(form.vehicle) }}

                                    </div>

                                </div>
                            </div>

                            <div id="submitBtnDiv" class="form-group">
                                <button id="submitBtn" type="submit" class="btn btn-warning">Enviar</button>
                            </div>

                            <div id="loadingSpinnerDiv" style="display: none;">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>

                            {{ form_end(form) }}
                        </form>
                    </section>
                </div>
            </div>
        </div>

    </div>


    <script>


        $(function() {
            showSubmitButton();

            hidePhoneWarning();
            hidePreferenceWarning();

        });

        $("form").submit(function(){
            showSpinner();
        });

        $("#message_phone").blur(function(){
            var $phone = $("#message_phone").val();
            var $first = $phone.charAt(0);

            if ($phone.length != 9 || ($first != 9 && $first != 7 && $first != 6 )){
                showPhoneWarning();
                disableSubmit()
            } else {
                hidePhoneWarning();
                enableSubmit();
            }

        });

        $("#message_preference").blur(function(){
            var $pref = $("#message_preference").val();
            if ($pref == 0){
                showPreferenceWarning();
                disableSubmit();
            } else {
                hidePreferenceWarning();
                enableSubmit();
            }
        }).change(function(){
            if ($pref == 0){
                showPreferenceWarning();
                disableSubmit();
            } else {
                hidePreferenceWarning();
                enableSubmit();
            }
        });

        $("#message_typeVehicle").change(function() {

            var data = {
                typeVehicle_id: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_vehicles") }}',
                data: data,
                success: function(data) {

                    console.log(data);

                    var $vehicle_selector = $('#message_vehicle');
                    $vehicle_selector.html(data);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(error);
                    console.log(thrownError);
                }
            });
        });

        function showPreferenceWarning(){
            $("#preferenceWarning").show();
        }

        function hidePreferenceWarning(){
            $("#preferenceWarning").hide();
        }

        function showPhoneWarning(){
            $("#phoneWarning").show();
        }

        function hidePhoneWarning(){
            $("#phoneWarning").hide();
        }

        function disableSubmit(){
            $("#submitBtn").attr('disabled', true);
        }

        function enableSubmit(){
            $("#submitBtn").attr('disabled', false);
        }

        function showSpinner() {
            $("#submitBtnDiv").css('display', 'none');
            $("#loadingSpinnerDiv").css('display', 'block');
        }

        function showSubmitButton(){
            $("#submitBtnDiv").css('display', 'block');
            $("#loadingSpinnerDiv").css('display', 'none');
        }

    </script>

{% endblock %}


